@import "../Variables.scss";

@keyframes onLoad{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fromBottom{
    from{
        transform: translateY(20vh);
    }
    to{
        transform: translateY(0vh);
    }
}

.articleText{
    display: grid;
    align-self: center;
    grid-gap: 5vh;
    font-size: 1rem;

    &__heading{
        font-size: 4.3rem;
        font-family: $fontStackBoldItalic;
        font-weight: bolder;
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: 3vh;
        line-height: 110%;
        animation-name: onLoad;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    &__text{
        max-width: 50%;
        line-height: 180%;
        animation-name: fromBottom;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }

    &__wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr 5fr;
        grid-template-rows: auto auto;

        .text{
            grid-area: 1/1/2/3;
            animation-name: fromBottom;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
        }

        .preorderButton{
            grid-area: 2/1/3/3;
            align-self: end;
            animation-name: fromBottom;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
        }

        .arrow{
            grid-area: 1/2/3/4;
        }
    }
}