@import "../Variables.scss";

.asSeenIn{
    margin: 6rem 1rem 1rem 1rem;

    &__heading{
        font-family: $fontStackNormal;
        font-size: 0.8rem;
        color: $secondaryColor;
        margin: 0;
        padding-bottom: 1.5rem;
    }

    &__images{
        
        img{
            padding-right: 4rem;
            height: 2rem;
            width: auto;
        }
    }
}
