@import "../Variables.scss";

.home{
    margin-left: 7vw;
    margin-bottom: 15vh;
    
    &__article{
        display: grid;
        grid-template-columns: 45% 10% 45%;

        .articleText{
            grid-area: 1/1/2/3;
        }

        .bigImage{
            grid-area: 1/2/2/4;
        }
    }
}