@import "../Variables.scss";

.menu{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    font-family: $fontStackNormal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin-bottom: 2rem;
    transition: box-shadow 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    
    &:hover{
        box-shadow: 0px 10px 10px rgba(0,0,0,0.03);
    }
    
    &__logo{
        align-self: center;
        
        .logo{
            transition: margin-left 0.3s ease-in-out;

            &:hover{
                margin-left: 1rem;
            }
        }
    }

    &__nav{
        display: flex;
        justify-self: end;

        li{
            list-style: none;
            padding: 0 0.5rem;
            font-size: 1rem;
            min-width: 3rem;

            &:last-of-type{
                padding-left: 4rem;
                font-family: $fontStackBold;
                font-weight: bold;
                width: 4rem;
                
                .navLink{
                    color: $accentColor;

                    &:hover{
                        font-style: italic;
                    }
                }
            }

            .navLink{
                text-decoration: none;
                color: $primaryColor;

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
}