$fontStackBold: "Roag Bold", sans-serif;
$fontStackNormal: "Roag Light", sans-serif;
$fontStackBoldItalic: "Roag Extra Bold Italic";

$primaryColor: #000000;
$secondaryColor: #969696;
$accentColor: #FF0000;
$accentColorTransparent: rgba(255,0,0,0.1);

